* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.main-text {
  color: white;
}

.secondary-text,
.links {
  color: rgb(194, 194, 194);
  font-size: 14px;

}

.header {
  display: flex;
  flex-direction: column;

  padding-top: 12px;
  padding-bottom: 24px;
  padding-inline: 120px;
  background-color: #1f2937;
  gap: 60px;
}

.links-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}


.links {
  text-decoration: none;
}

.header-img {
  object-fit: cover;
  width: 50%;
  /* height: 150px; */
}

.inline-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-header h1 {
  font-size: 36px;
}

.left-header p {
  font-size: 14px;
}

.left-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 35px;
  gap: 16px;
}

.sign-button {
  background-color: #3b82f6;
  border: 0;
  padding: 8px 24px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.sign-button:hover {
  background-color: #3e6db8;
}

.sign-button:active {
  background-color: #3b82f6;
}

.information {
  display: flex;
  flex-direction: column;
}

.information {
  padding-inline: 120px;
  text-align: center;
  padding-block: 40px;
  gap: 32px;
}

.block-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  border: 5px solid #3b82f6;
}

.block-text {
  color: rgb(87, 87, 87);
}

.info-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-inline: 42px; */
}

.info-blocks .block {
  width: 150px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 206, 206);
  /* padding-inline: 120px; */
  padding-inline: 180px;
  padding-block: 50px;
  gap: 14px;

}

.quote-text {
  font-size: 28px;
  color: rgb(80, 80, 80);
}

.quote-author {
  text-align: end;
}

.ad-block {
  margin-inline: 120px;
  margin-block: 50px;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  padding: 30px 60px;
}

.ad-block button {
  border: 1px solid white;
}